

{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="screen-container">
    <h1 class="page-content">Madmapp is a Mobile Advertizing & Mapping Application
    </h1>
    <div class="video-container">
        <div class="video-wrapper">
            <iframe class="video" src="https://www.facebook.com/plugins/video.php?height=315&href=https%3A%2F%2Fwww.facebook.com%2FMADMAPP1%2Fvideos%2F228401327691588%2F&show_text=false&width=560&t=0" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
        </div>
    </div>
    <div class="text-container">
        <p>we provide a simple system to turn your old tv into a personal, server driven, advertising portal. Using Madmapp is simple and will turn passersby into footfall. How many potential customers walk by your shop and don't even know what you provide?</p>
    </div>
</div>

{% endblock %}