{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title >MadMapp</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://kit.fontawesome.com/dc556dca35.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="nav-bar">
        <h1 class="logo-text">MadMApp</h1>
        <div class="user-icons">
            {% if user.is_authenticated %}
                <!-- Ticket icon with number of tokens -->
                <div class="token-info">
                    <i class="fas fa-ticket-alt ticket-icon silver" style="color: {{ user_profile.ticket_color }}"></i>
                    <span class="token-count bronze">{{ user_profile.bronze_token }}</span> <!-- Display number of bronze tokens -->
                    <span class="token-count silver">{{ user_profile.silver_token }}</span> <!-- Display number of silver tokens -->
                    <span class="token-count gold">{{ user_profile.gold_token }}</span> <!-- Display number of gold tokens -->
                    <button class="button">+</button>
                </div>
                <!-- Coin icon with number of coins -->
                <div class="coin-info">
                    <i class="fas fa-coins coin-icon" style="color: {{ user_profile.coin_color }}"></i>
                    <span class="coin-count gold">{{ user_profile.coins }}</span> <!-- Display number of coins -->
                    <button class="button">+</button>
                </div>
                <!-- Level icon with tier -->
                <div class="level-info">
                    <i class="fas fa-level-up-alt level-icon tier" style="color: {{ user_profile.level_color }}"></i>
                    <span class="tier">{{ user_profile.teir }}</span> <!-- Display tier -->
                </div>
            {% endif %}
            
        </div>
        <div class="menu-icon" onclick="toggleDropdown()">&#9776;</div>
        <div class="dropdown-options" id="dropdownOptions">
            {% if user.is_authenticated %}
                <a href="/userprofile">Profile</a>
                <a href="{% url 'account_logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'account_login' %}" class="login-button">Login</a>
                <a href="{% url 'account_signup' %}" class="signup-button">Sign Up</a>
            {% endif %}
        </div>
    </div>
    

{% block content %}
{% endblock %}

<div class="cutout-container">
    <img src="{% static 'logo.png' %}" alt="Logo" class="logo">
</div>
<script src="{% static 'index.js' %}"></script>
<footer class="sticky-footer">
    <div class="copyright">Copyright © 2024 MadMApp</div>
    <div class="social-icons">
        <!-- Add your social media icons here -->
        <!-- Example icons using Font Awesome -->
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin"></i>
    </div>
</footer>

</body>
</html>
